/* Colors used
Text: #393430
413131

#E3E8E3
#B8C9AB
#849E73
#4E5735
#4D3725
#BDB4AE
#FF5349
#80A3B2; (very poor)
#52728B; (good)
#516C6B; (good)

393736 gradient color on home page

 */

:root {
  --primary-color: #B8C9AB;
  --secondary-color: #A5B2B9;
  --birch-gray-dark: #D2CFC4;
  --birch-gray-light: #E9E9DD;
  --birch-gray-green: #D8D6C5;

  --primary-font-color: #393430;
  --secondary-font-color: #E3E8E3;

  --white: #fff;
  
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--font-color);
  background-color: var(--primary-color);
  line-height: 1.6;
  font-size: 1.7vw;
}

/* Tree Animation */
path {
  stroke: var(--white);
  opacity: 0%;
  fill: var(--white);
  stroke-dasharray: 1000;
  opacity: 10%;
  animation: animate 5s;
}
/* .aspen-tree {} */
@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1000;
  } 
  2% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1000;
  } 
  3% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1000;
  } 
  4% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1000;
  } 
  5% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1000;
  } 
  10% {
    opacity: 50%;
    fill: none;
    stroke-dashoffset: 1000;
  } 
  20% {
    opacity: 50%;
    fill: none;
    stroke-dashoffset: 1000;
  } 
  30% {
    opacity: 100%;
    fill: none;
    stroke-dashoffset: 1000;
  } 
  40% {
    opacity: 100%;
    fill: none;
    stroke-dashoffset: 1000;
  } 
  50% {
    opacity: 100%;
    fill: none;
    stroke-dashoffset: 1000;
  } 
  
  55% {
    opacity: 100%;
    fill: none;
    stroke-dashoffset: 1000;
  } 
  60% {
    opacity: 100%;
    fill: none;
    stroke-dashoffset: 1000;
  }
  90% {
    fill: rgba(255, 255, 255, 0);
    
  } 
  100% {
    /* opacity: 10%; */
    fill: rgba(255, 255, 255, 0);
    stroke-dashoffset: 0;
  }

}
/* End Tree Animation */



/* General Link Styling */
.links, .links:visited, .links:hover, .links:focus, .links:active {
  text-decoration: underline;
  color: var(--primary-font-color);
  list-style-type: none;
  cursor: pointer;

}
.links:hover, .links:focus {
  opacity: 0.5;
  
}

/* Button Styling */
.primary_button {
  border: none;
  font-family: inherit;
  display: inline-block;

  background-color: var(--primary-font-color);
  color: var(--secondary-font-color);
  padding: 1%;
  border-radius: 10%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: 0.2s opacity;
  
}

.primary_button:hover, .primary_button:focus {
  cursor: pointer;
  opacity: 0.8;
}


.primary_button a, .primary_button a :visited, .primary_button a :active {
  text-decoration: none;
  color: var(--secondary-color);
}

/* Navigation Styling */
.navigation-list__item :visited,
.navigation-list__item:link,
.navigation-list__item :active,
.navigation-list__item {
  color: var(--primary-font-color);
  text-decoration: none;
  list-style-type: none;
}

.navigation-list__item:hover {
  color: var(--secondary-font-color);
}

.navigation-list__item--active, .navigation-list__item--active:visited, .navigation-list__item--active:hover, .navigation-list__item--active:active {
  color: var(--secondary-font-color);
}
.navigation-list li{
  display: inline-block;
  margin-left: 3%;
}

/* Navigation Animation */
/* .navigation-list__item a::before {
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 0;
}

.navigation-list__item a:hover::before {
  transition: scale(1);
  opacity: 1;
}

li a {
  color: rgb(0,0,0,0.4);

}

li a ::before {
  transform: scale(1.2);
} */


/* End Navigation Animation */

.page-header {
  display: flex;
  width: 100%;
  padding: 3%;
}

.page-header__item {
  flex: 0 1 5%;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}


/* Website Logo */
.logo {
  width: 3%;
  filter: invert(56%) sepia(29%) saturate(330%) hue-rotate(55deg)
    brightness(91%) contrast(84%);
  
}


/* Index.html Styling */

.index-body {
  background: hsla(94, 22%, 73%, 1);

background: linear-gradient(180deg, hsla(94, 22%, 73%, 0.5) 0%, hsla(20, 3%, 22%, 1) 50%);

background: -moz-linear-gradient(180deg, hsla(94, 22%, 73%, 0.5) 0%, hsla(20, 3%, 22%, 1) 50%);

background: -webkit-linear-gradient(180deg, hsla(94, 22%, 73%, 0.5) 0%, hsla(20, 3%, 22%, 1) 50%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B8C9AB", endColorstr="#393736", GradientType=1 );

}

.profile {
  /* max-width: 700px; */
  /* margin: 0 auto;  */
  display: flex;
  /* justify-content: space-between; */
  padding-left: 10%;
  

}
.info-text {
  width: 50%;
  padding-left: 20%;
}

.aspen-tree {
  width: 40%;
}

.profile_portrait {
  width: 30%;
  float: left;
  margin-right: 10%;
  border-radius: 50%;
}






.profile .journey-wrapper {
  clear: both;
  display: flex;
  justify-content: center;
}

.profile h2 span{
  font-size: 70%;
}

#aboutPgPhoto {
  width: 30%;
}

/* End Index.html styling */


/* Footer Styling */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FF5349;
  background: hsla(5, 100%, 64%, 1);

background: linear-gradient(90deg, hsla(5, 100%, 64%, 0.5) 0%, hsla(5, 100%, 64%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(5, 100%, 64%, 0.5) 0%, hsla(5, 100%, 64%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(5, 100%, 64%, 0.5) 0%, hsla(5, 100%, 64%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF5345", endColorstr="#FF5345", GradientType=1 );
  margin-top: 20%;
}

footer div {
  height: 10vh;
}

footer i {
  font-size: 3vh;
  width: 3vw;
}



/* Work Page Styling */

/* Start Grid Fallback */
section{
  display: inline-block;
  text-align: center;
}

.grid__item {
  display: inline-block;
  width: 30%;
  text-align: left;
  background-color: var(--birch-gray-green);
  
  padding: 2%;
  margin: 1%;
}
/* End Grid Fallback */

@supports (display: grid) {
  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 2%;
  }
  .grid__item {
    padding: 2%;
    width: auto;
    min-height: auto;
    margin: 0;
    background-color: var(--birch-gray-green);
    
  }
  section h1 {
    display: flex;
    justify-content: center;
  }
}

@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .project-list {grid-gap: 10px; }
}


